@import "tailwindcss";

h1{
    @apply text-3xl font-bold mb-4;
}
body {
  margin: 0;
}
/* Evita scroll horizontal */
html, body {
  overflow-x: hidden;
}

/* Cards entrando desde los bordes */
.animate-slide-in-left {
  animation: slideInLeft 1s ease-out forwards;
}

.animate-slide-in-right {
  animation: slideInRight 1s ease-out forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-120px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(120px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

